POSTGRES_USERNAME=
POSTGRES_PASSWORD=

# jwt
JWT_ACCESS_TOKEN_KEY=
JWT_REFRESH_TOKEN_KEY=
JWT_EMAIL_VERIFIED_TOKEN_KEY=

# JWT_ACCESS_TOKEN_EXPIRES_IN=15m
# JWT_REFRESH_TOKEN_EXPIRES_IN=168h
# JWT_EMAIL_VERIFIED_TOKEN_EXPIRES_IN=1h

# otp
OTP_EMAIL_VERIFY_KEY=
# OTP_EMAIL_VERIFY_EXPIRES_IN=20m

# app name:
# SMTP_HOST=
# SMTP_PORT=
SMTP_USERNAME=
SMTP_APP_PASSWORD=